@import "tailwindcss";

@theme {
  --color-gold: #ad7c33;
  --color-beige: #f0ebe2;
  --color-forest: #2e3b2c;
  --color-stone: #7d7d7d;
  --color-charcoal: #1a1a1a;
  --color-light-emphasis: rgb(237 230 216);
  --font-sans: "Montserrat", sans-serif;
  --font-serif: "Playfair Display", serif;
}
